body {
  background-image: url(https://d4rxt4r.github.io/saby-theme/bg.jpg) !important;
}

.docview3-Preview__image::after {
    background: url(https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/601220/d6dda6493dfa4ee23d690f95b8ec4edad15b2e23.png);
    background-position: center;
    background-size: cover;
}
