:root {
  --bg-img: url(./img/background.png);
  --photo-radius: 8px;
  --photo-outline-img: url(./img/outline.png);
  --photo-outline-inset: -10px;
  --display-breadcrumbs: none;
  --display-top-nav: none;
  --display-right-nav: none;
  --badge-bg-color: rgba(0, 0, 0, 0.3);
  --badge-img: url(./img/badge.png);
  --stack-shadow: rgba(0, 0, 0, 0.3);
  --stack-background: #bbe9ff;
  --font-color-primary: #fff;
  --font-color-secondary: #eee;
  --font-color-link: #fff;
}
/* CLEARING STYLES */
.employee-Card .controls-StackTemplate__top-area {
  background: transparent;
}
.employee-Card .controls-background-default,
.employee-Card .controls-BlockLayout,
.employee-Card .controls-StackTemplate_backgroundColor,
.employee-Card .controls-BlockLayout__block_style_1 {
  background: unset;
}
.employee-Card .person-GeneralInfo__widget {
  background: unset;
  padding-top: 0;
}
/* BACKGROUND */
body {
  background-image: var(--bg-img) !important;
}
/* STACK BACKGROUND */
.employee-Card .controls-StackTemplate-content {
  background: var(--stack-background);
  background-repeat: no-repeat;
  background-position: center;
}
/* PHOTO OUTLINE */
.person-Card_headerLogo .docview3-PhotoGallery,
.person-Card_headerLogo .docview3-PhotoGallery__view,
.person-Card_headerLogo .docview3-Preview {
  overflow: visible;
}
.person-Card_headerLogo .docview3-Preview {
  display: inline-block;
  position: relative;
}
.person-Card_headerLogo .docview3-Preview:after {
  content: '';
  position: absolute;
  inset: var(--photo-outline-inset);
  background: var(--photo-outline-img);
  background-position: center;
  background-size: cover;
}
/* HIDDEN BREADCRUMBS */
.controls-BreadCrumbsView {
  display: var(--display-breadcrumbs);
}
/* HIDDEN NAVIGATION */
.person-Card__navigation {
  display: var(--display-right-nav);
}
.person-Card__tabs {
  display: var(--display-top-nav);
}
/* PROFILE BADGE */
.person-GeneralInfo__scroll .controls-Scroll-Container {
  overflow: visible;
}
.employee-Card .mot-Controls-Carousel__item [data-qa^='mot-Controls-Carousel__item']:not(:first-child) {
  display: none;
}
.employee-Card .controls-BlockLayout__block .controls-BlockLayout__block_style_1:not(:last-child) {
  position: absolute;
  right: 6px;
  top: -98px;
  background: unset;
}
.employee-Card .mot-Controls-Carousel__item [data-qa^='mot-Controls-Carousel__item'] {
  background-color: var(--badge-bg-color);
  height: 70px;
  border-radius: 3px;
  padding: 0 12px 0 6px;
}
.employee-Card .mot-Controls-Carousel__item .mot-Controls-Carousel__item_single {
  pointer-events: none;
}
.employee-Card .mot-Controls-Carousel__item .mot-Controls-Carousel__item_badge {
  display: inline-block;
  position: relative;
}
.employee-Card .mot-Controls-Carousel__item .mot-Controls-Carousel__item_badge::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--badge-img);
  background-position: center;
  background-size: cover;
}
.employee-Card .mot-Controls-Carousel__item .mot-Controls-Carousel__item_badge img {
  display: none;
}
/* STACK SHADOW */
.controls-Popup__dialog-target-container {
  box-shadow: var(--stack-shadow);
}
.controls-StackTemplate-shadow {
  border-right: var(--border-thickness_stack) solid var(--stack-shadow);
}
/* STACK PANEL */
/* FONT COLORS */
.mot-Controls-Carousel__item_name_0 span {
  color: var(--font-color-primary);
}
[data-qa="person-Card__headerName"] .controls-text-default,
.personCard-Contact__list .controls-text-default,
[data-qa="person-Card__headerName"] .personCard-Contact__dataContact a,
.personCard-Contact__list .personCard-Contact__dataContact a {
  color: var(--font-color-primary);
}
.ws-is-hover .personCard-Contact__columnsContainer .controls-ListView__item_highlightOnHover_default:hover,
.ws-is-hover .controls-itemActionsV_style_default {
  background-color: unset;
}
.ws-is-desktop-platform .person-PhoneCallLinkButton_state-main:hover {
  color: var(--font-color-link);
}
